header,
.page,
footer {
  min-height: 200px;
  background: grey;
}

.menu {
  min-height: 200px;
  display: inline-block;
  background: blue;
  width: 29%;
}

.content {
  min-height: 200px;
  display: inline-block;
  background: lightgrey;
  width: 70%;
}

.page {
  display: flex;
}

.picture {
  min-height: 200px;    /* Por defecto, height es 0 */
  background: grey;     /* Simplemente, para verlo visualmente */

  max-width: 1024px;
  min-width: 800px;
}

@media (max-width: 600px){
  .menu{
    width: 100%;
    background: yellow;
  }

  .content{
    width: 100%;
    background: red;
  }
}

@media (width <= 600px) {
  
  .page {
    display: block;
  }

  .content{
    width: 100%;
    background: lime;
  }

  .menu{
    width: 100%;
    background: yellow;
  }
}

@media (min-width: 601px) and (max-width: 1199px) {
  .menu{
    background: red;
  }

  .content{
    background: pink;
  }
}